.container{
  flex: 1;
  /* background-color: ${({ theme }) => theme.bgLighter}; */
  height: 100vh;
  /* color: ${({ theme }) => theme.text}; */
  font-size: 14px;
  position: sticky;
  top: 0;
}
.wrapper{
  padding: 18px 26px;
}
.img{
  height: 25px;
}
.logo{
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  margin-bottom: 25px;
}
.button {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.item {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 7.5px 0px;
  /* &:hover {
    background-color: ${({ theme }) => theme.soft};
  } */
}
.hr{
  margin: 15px 0px;
  /* border: 0.5px solid ${({ theme }) => theme.soft}; */
}